<div class="transaction-listings">
  <div class="jumbotron">
    <h1 class="display-4">Hello, <%= current_user.first_name %></h1>
    <p class="lead">
      This is some text
    </p>
    <hr class="my-4">
  
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Purchased Items [<%= @items_purchased.count %>]</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">

          <% if @items_purchased.count != 0 %>
          
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <% get_transaction_history_columns.each do |column| %>
                    <th scope="col"><%= column %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @items_purchased.each do |purchased| %>
                  <tr>
                    <th scope="row"><%= purchased.id %></th>
                    <td><%= Game.find(purchased.item_id).title %></td>
                    <td><%= Game.find(purchased.item_id).platform %></td>
                    <td><%= number_to_currency(Game.find(purchased.item_id).price, :unit => "$") %></td>
                    <td><%= purchased.created_at %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <% else %>

              <p>You haven't purchased any items</p>
              
            <% end %>

          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Sold Items [<%= @items_sold.count %>]</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">

          <% if @items_sold.count != 0 %>
            <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <% get_transaction_history_columns.each do |column| %>
                      <th scope="col"><%= column %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                <% @items_sold.each do |sold| %>
                    <tr>
                      <th scope="row"><%= sold.id %></th>
                      <td><%= Game.find(sold.item_id).title %></td>
                      <td><%= Game.find(sold.item_id).platform %></td>
                      <td><%= number_to_currency(Game.find(sold.item_id).price, :unit => "$") %></td>
                      <td><%= sold.created_at %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

            <% else %>

              <p>You haven't sold any items</p>

            <% end %>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>