<nav class="navbar navbar-light navbar-expand-md navbar-dark fixed-top navbar-custom-styling">
  <a class="navbar-brand" href="<%= games_path %>">Oz Gamers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item highlight">
          <%= link_to 'Store', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item highlight">
          <%= link_to 'Search Store', search_game_path, class: "nav-link" %>
        </li>
        <li class="nav-item highlight">
          <%= link_to "Sell A Game", new_game_path, class: "nav-link" %>
        </li>

      <% if user_signed_in? %>
        <li class="nav-item highlight">
          <%= link_to "My Listings", show_user_listings_path(current_user.id), class: "nav-link" %>
        </li>
        <li class="nav-item highlight">
          <%= link_to 'Profile', edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item highlight">
          <%= link_to 'History', user_transactions_path, class: "nav-link" %>
        </li>
        <li class="nav-item highlight">
          <%= link_to "Log Out (#{current_user.username})", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item highlight">
          <%= link_to 'Log In', new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item highlight">
          <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>

</nav>

