<% if user_signed_in? %>

<h1>Edit Game Listing</h1>

<form class="edit-form" action="<%= update_game_path(params[:id]) %>" method="POST" enctype="multipart/form-data" >
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <input type="hidden" name="_method" value="patch" />
  <input type="hidden" value="<%= current_user.id %>" name="user_id">

  <% if @game.errors.any? %>
    <div id="error_explanation">
        <h2>
        <%= pluralize(@game.errors.count, "error") %> prohibited
        this article from being saved:
        </h2>
        <ul>
        <% @game.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

  <label for="title">Title</label>
  <input type="text" name="title" id="title" placeholder="Title" value="<%= @game.title %>" />

  <label for="genre">Genre</label>
  <select name="genre">
    <option value="action">Action</option>
    <option value="adventure">Adventure</option>
    <option value="role-playing">Role-Playing</option>
    <option value="simulation">Simulation</option>
    <option value="strategy">Strategy</option>
    <option value="sports">Sports</option>
  </select>

  <label for="platform">Platform</label>
  <select name="platform">
    <% get_supported_platforms().each do |platform| %>
      <option <%= 'selected' if @game.platform == platform %> value="<%= platform %>"><%= platform %></option>
    <% end %>
  </select> 

  <label for="condition">Condition</label>
  <select name="condition">
    <option value="4">Brand New</option>
    <option value="3">Like New</option>
    <option value="2">Very Good</option>
    <option value="1">Good</option>
    <option value="0">Acceptable</option>
  </select> 
  
  <% if current_user.admin? %>
    <label for="price">Price</label>
    <input type="number" step="0.01" min="1" value="5.00" name="price" value="<%= @game.price %>">
  <% else %>
    <p>Please email the admin to change the price or create a new one</p>
  <% end %>
  
  <label for="rating">Rating</label>
  <select name="rating">
    <% for index in 1..10 do %>
      <option <%= 'selected' if @game.rating == index %> value="<%= index %>"><%= index %></option>
    <% end %>
  </select>

  <label for="note">Notes</label>
  <textarea name="note" rows="4" cols="50"><%= @game.note %></textarea>

  <label for="images[]">Upload images</label>
  <input type="file" name="images[]" multiple="true" accept="image">

  <div class="listing-images images-container">
    <% @game.images.each_with_index do |image, index| %>
      <div class="image-delete-card">
        <%= image_tag image.variant(resize: '300>x200>'), class: 'image-size' %>
        <%= link_to "Remove Image", remove_image_path(@game.id, index),
                :method => :delete,
                :data => { :confirm => t('.confirm',
                :default => 'Are you sure you want to delete this image?') }
                %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <input type="submit" value="Update" />  
</form>

<% else %>
  <p>please sign in</p>

<% end %>
