<% @games.each do |game| %>
  <div class="game-listing-card">
    <p>Title: <%= game.title %></p>
    <p>Price: $<%= game.price.round(2) %></p>
    <p>Platform: <%= game.platform %></p>
    <p>Posted by: <strong><%= find_username_by_id(game.user_id) %></strong></p>
    <p><%= link_to 'View Listing', show_game_path(game.id) %></p>
  </div>
  <br>
<% end %>