<div class="game-listing">
  <% @games.each do |game| %>

    <div class="game-listing-card">
    <div class="image-panel">
      <p>
      <% if game.images.attached? %>
        <% game.images.each do |file| %>
          <% p "HERE IS AN IMAGE OBJECT: #{file}"%>
          <%= image_tag file, class: 'image-size' %>
        <% end %>
      <% else %>
        <p>No images for this game</p>
      <% end %>
      </p>
    </div>
      <div class="game-info-panel">
        <div class="left-side">
          <p><%= game.title %></p>
          <p><%= game.platform %></p>
          <p><strong><%= find_username_by_id(game.user_id) %></strong></p>
        </div>

        <div class="right-side">
          <p>Translate --> <%= game.condition %></p>
          <p>$<%= sprintf("%.2f", game.price.round(2)) %></p>
          <p><%= link_to 'View Listing', show_game_path(game.id) %></p>
        </div>
      </div>
    </div>

  <% end %>
</div>