<div class="game-listing">
  <% @games.each do |game| %>

    <% next if game.sold %>

    <div class="game-listing-card">
      <div class="image-panel">
        <% if game.images.attached? %>
        <div class="thumbnail-image"><%= image_tag game.images.first.variant(resize: '300>x200>') %></div>
        <% else %>
          <p>No images for this game</p>
        <% end %>
      </div>
      <div class="game-info-panel">
        <div class="left-side">
          <p><%= game.title %></p>
          <p><%= game.platform %></p>
          <p><strong><%= find_username_by_id(game.user_id) %></strong></p>
        </div>

        <div class="right-side">
          <p><%= convert_item_condition(game.condition) %></p>
          <p>$<%= number_with_delimiter(sprintf("%.2f", game.price.round(2))) %></p>
          <p><%= link_to 'View Listing', show_game_path(game.id) %></p>
        </div>
      </div>
    </div>

  <% end %>
</div>