<h1>AUS Gamers</h1>
<%= link_to "new", new_game_path%>
<% @games.each do |game| %>
  <div class="games-container">
    <h3>Title: <%= game.title %></h3>
    <p>Genre: <%= game.genre %></p>
    <p>Price: $<%= game.price.round(2) %></p>
    <p>Platform: <%= game.platform %></p>
    <p>Preowned? <%= game.preowned %></p>
    <p>Condition: <%= game.condition %></p>
    <p>Sold? <%= game.sold %></p>
    <p>Seller Notes: <%= game.note.to_s %></p>
    <p>Rating: <%= game.rating %></p>
    <p>Posted at: <%= game.created_at %></p>
    <p>Posted by: <strong><%= find_username_by_id(game.user_id) %></strong></p>
  </div>
  <br>
<% end %>
