<%= render 'shared/errors', obj: @game %>

<div class="listing-information">
  
  <div class="jumbotron jumbotron-fluid">

  <% if @game.images.attached? %>

    <% if @game.images.count > 1 %>
      <!-- Left and right controls -->
      <div class="game-attached-images">
        <%= render 'shared/show_images' %>
      </div>
    <% end %>
  <% else %>
    <p>No images for this game</p>
  <% end %>

    <div class="listing-container">
      <h1>Title: <%= @game.title %></h1>
      <p>Genre: <%= @game.genre %></p>
      <p>Price: $<%= number_with_delimiter(sprintf("%.2f", @game.price.round(2))) %></p>
      <p>Platform: <%= @game.platform %></p>
      <p>Condition: <%= convert_item_condition(@game.condition) %></p>
      <p>Seller Notes: <%= @game.note.to_s %></p>
      <p>Rating: <%= @game.rating %></p>
      <p>Posted: <%= @game.created_at %></p>
      <p>Posted by: <strong><%= find_username_by_id(@game.user_id) %></strong></p>

      <% if @game.created_at != @game.updated_at %>
        <p>Last Edited: <%= @game.updated_at %></p>
      <% end %>

    <div class="listing-button-layout">
      <%= render "shared/stripe_form" if @game.sold == false %>
    </div>
  </div>

  <% if (user_signed_in? && current_user.id == @game.user_id) || can?(:manage, :all) %>
    <div class="listing-buttons">
      <p><%= link_to 'Edit Listing', edit_game_path(@game.id), class: "btn btn-primary" %></p>
      <p><%= link_to "Delete", destroy_game_path(@game.id), method: :delete, data: { confirm: 'Are you sure you want to delete this game?' }, class: "btn btn-danger" %></p>
    </div>
  <% end %>
  </div>
</div>