<h1>Title: <%= @game.title %></h1>
<p>Genre: <%= @game.genre %></p>
<p>Price: $<%= sprintf("%.2f", @game.price.round(2)) %></p>
<p>Platform: <%= @game.platform %></p>
<p>Condition: <%= @game.condition %></p>
<p>Seller Notes: <%= @game.note.to_s %></p>
<p>Rating: <%= @game.rating %></p>
<p>Posted: <%= @game.created_at %></p>

<% if @game.created_at != @game.updated_at %>
  <p>Last Edited: <%= @game.updated_at %></p>
<% end %>

<% if user_signed_in? && current_user.id == @game.user_id %>
  <p><%= link_to 'Edit Listing', edit_game_path(@game.id) %></p>
<% else %>
  <p>Posted by: <strong><%= find_username_by_id(@game.user_id) %></strong></p>
<% end %>