<%= render 'shared/errors', obj: @game %>
<% if @game.images.attached? %>
  <div class="listing-images">
    <% @game.images.each do |file| %>
      <%= image_tag file, class: 'image-size' %>
    <% end %>
  </div>
<% else %>
  <p>No images for this game</p>
<% end %>

<h1>Title: <%= @game.title %></h1>
<p>Genre: <%= @game.genre %></p>
<p>Price: $<%= number_with_delimiter(sprintf("%.2f", @game.price.round(2))) %></p>
<p>Platform: <%= @game.platform %></p>
<p>Condition: <%= convert_item_condition(@game.condition) %></p>
<p>Seller Notes: <%= @game.note.to_s %></p>
<p>Rating: <%= @game.rating %></p>
<p>Posted: <%= @game.created_at %></p>
<p>Posted by: <strong><%= find_username_by_id(@game.user_id) %></strong></p>

<% if @game.created_at != @game.updated_at %>
  <p>Last Edited: <%= @game.updated_at %></p>
<% end %>

<div class="listing-button-layout">
  <%= render "shared/stripe_form" if @game.sold == false %>

  <% if (user_signed_in? && current_user.id == @game.user_id) || can?(:manage, :all) %>
    <div class="edit-button-container">
      <%= link_to 'Edit Listing', edit_game_path(@game.id), class: "btn btn-xs btn-primary custom-button-width" %>
    </div>
    <div class="delete-bitton-container">
      <%= link_to "Delete Listing", destroy_game_path(@game.id), method: :delete, data: { confirm: 'Are you sure you want to delete this game?' }, class: "btn btn-xs btn-danger custom-button-width" %>
    </div>
  <% end %>
</div>