<!DOCTYPE html>
<html>
  <head>
    <title>OZ Gamers</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,700' %>
    <%= stylesheet_link_tag "https://unpkg.com/flickity@2/dist/flickity.min.css" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js", "application" %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", "application" %>
    <%= javascript_include_tag "https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js", "application" %>


    <%= favicon_link_tag asset_path('icon.png') %>
  </head>

  <body>
     <%= render 'shared/navbar'%>

    <div class="container">
      
      <div class="notifications">
        <%= render 'layouts/messages' %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
